@model List<String>
@{
    ViewBag.Title = "Transferencias";
}

<div style="background-color: white; border-radius: 20px; padding: 30px; margin-top: 10px;">
    <center>
        @{
            if (ViewBag.Message != null)
            {
                if (@ViewBag.Message)
                {
                    <h4 class="alert-success">Transferencia Exitosa</h4>
                }
                else
                {
                    <h4 class="alert-danger">Revise sus datos</h4>
                }
            }

        }
        <form action="@Url.Content("~/Home/Transferencias")" method="post">
            <div class="form-group">
                <label>Cuenta Origen *</label>
                <br />
                <select style="width:200px;" name="cuentaOrigen" required>
                    @foreach (var item in Model)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Importe *</label>
                <br />
                <input style="width:200px;" type="number" step="any" min="1" name="importe" required />
            </div>
            <div class="form-group">
                <label>Cuenta Destino *</label>
                <br />
                <input style="width:200px;" type="text" name="cuentaDestino" required />
            </div>

            <div class="form-group">
                <input type="submit" value="Transferir" class="btn btn-success" />
            </div>
        </form>
    </center>
</div>

