<div style="background-color: white; border-radius: 20px; padding: 30px; margin-top: 10px;">
    <center>
        <img style="width: 50%; margin: 20vh;" src="https://www.pngkit.com/png/full/111-1111536_bienvenido-png.png" alt="Bienvenido" />
    </center>
</div>